<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  higth: 200px;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>


<h1>All cartoon</h1>

<div class="dropdown  d-flex justify-content-start">
	<button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton1" type="button">sort by</button>
	<ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
		<li>
  			<a class="dropdown-item" href="/cartoon?sort=a-z" sort="ASC">a-z</a>
		</li>
		<li>
  			<a class="dropdown-item" href="/cartoon?sort=z-a" sort="DESC">z-a</a>
		</li>
		<li>
  			<a class="dropdown-item" href="/cartoon?sort=continue" sort="continue">continue</a>
		</li>
		<li>
  			<a class="dropdown-item" href="/cartoon?sort=complete" sort="complete">complete</a>
		</li>
	</ul>
</div>

<div class="row justify-content-center">
  <% @cartoons.each do |cartoon| %>
  <div class="card justify-content-center m-3">
        <%  if cartoon.image.attached? %>
        <%= image_tag(cartoon.image, class:"card-img-top",style:'width:100% , height:200px , overflow-y:hidden')%>
        <%else%>
        <%= image_tag("logo.png",class:"card-img-top",style:'width:100% , height:200px , overflow-y:hidden') %>
        <%end%>
    <h4><b><%= link_to "#{cartoon.name}","/#{cartoon.name}" %></b></h4>
    <p><%= cartoon.tags %></p>
    <p><%= cartoon.shortinfo %></p> 
  </div>
  <% end %>
</div>


