<%= form_with(model: chapter) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% chapter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num %>
    <%= form.number_field :num %>
  </div>

  <div class="field">
    <%= form.label :cartoon_id %>
    <%= form.collection_select(:cartoon_id, Cartoon.all, :id, :name) %>
  </div>

   <div class="field">
    <%= form.label :image %>
    <%= form.file_field :images , multiple:true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

